<ion-grid>
  <ion-row>
    <ion-col *ngFor="let user of users | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count }; let i = index"
    size="4" size-md="3" size-lg="4" size-sm="4">
      <app-card (click)="openModal(user)" [user]="user"></app-card>
    </ion-col>
  </ion-row>
  <ion-item>
    <!-- Implement ngx-pagination -->
    <pagination-controls 
    class="paginator"       
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onChange($event)"></pagination-controls>
  </ion-item>
</ion-grid>
<app-modal (isModalDismissed)="this.isModalOpen = false;" [selectedUser] = "this.selectedUser"
[isModalOpen]="this.isModalOpen">
</app-modal>

